* {
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 95vh;
}

header {
    height: 100px;
    background-color: #333;
    color: whitesmoke;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 95%;
    margin: 0 auto;
    padding: 2em 0;
    align-content: center;
}

.grid {
    display: block;
    margin: auto;
    /* outline: black 2px solid; */
}

.control {
    width: 400px;
    margin: 0 auto 2em;
    display: flex;
    justify-content: center;
}

.control > button {
    flex: 1;
}

