@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    font-family: "Montserrat", sans-serif, Arial, Helvetica, sans-serif;
    margin: 10px;
    background: #3c53b9;
  }

.container {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 100px auto auto;
    justify-content: center;
    grid-template-areas: 
        ". h ."
        ". c ."
        ". m .";
}

header {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #f6f6ff;
}

.control {
    grid-area: c;
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    grid-gap: 10px;
}

.population {
    margin: 0.5em;
    color: #f6f6ff;
}

main {
    grid-area: m;
}

button {
    background:#f6f6ff;
    border: none;
    border-radius: 2em;
}

button:focus {
    outline: none;
}

.menu > img {
    height: 25px;
    width: 25px;
}

.grid {
    background: #728cff;
}
